* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    font-family: varela;
    background: linear-gradient(to right, #e4feff, #c5fcff, #a0fcff);
  }
}
@font-face {
  font-family: "varela";
  src: url("./varela-round.ttf");
}

/* HEADER */

.header {
  text-align: center;
  padding: 0.6rem 0;
  background: #24c4d3;
}

.header .header-title {
  color: #fff;
}
.new-year-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  text-align: center;
}
.new-year-wrapper {
  font-size: 4vw;
  background-image: url(./haha.jpeg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-background-clip: text;
}
@keyframes slidein {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 20%;
  }
}

.dead-line-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.dead-line-item {
  background: #205960;
  color: #fff;
  padding: 0.06rem 1.3rem;
}
.dead-line-number {
  margin-bottom: 0.06rem;
}
footer {
  padding: 1rem;
  text-align: center;
}
